# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.coverage

# Environments
.tox
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Log files
logs/*

# PyCharm
.idea

portainer-data
playground.py
