repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-yaml
        log_file: logs/pre-commit.log

    -   id: end-of-file-fixer
        log_file: logs/pre-commit.log

    -   id: trailing-whitespace
        log_file: logs/pre-commit.log

    -  id: check-json
       log_file: logs/pre-commit.log

    -  id: name-tests-test
       log_file: logs/pre-commit.log

    -  id: pretty-format-json
       log_file: logs/pre-commit.log

-   repo: https://github.com/pycqa/pylint
    rev: pylint-2.6.0
    hooks:
    -   id: pylint
        entry: ./env/bin/pylint
        args:
        - --rcfile=.pylintrc

# -   repo: local
#     hooks:
#     -   id: pytest-check
#         name: pytest-check
#         stages: [commit]
#         types: [python]
#         entry: pytest
#         language: system
#         pass_filenames: false
#         always_run: true
#         args:
#         - --cov=./ tests/

# repos:
# -   repo: https://github.com/PyCQA/bandit
#     rev: '1.7.4'
#     hooks:
#     - id: bandit
