astroid==2.11.4
attrs==21.4.0
bandit==1.7.4
certifi==2021.10.8
cfgv==3.3.1
charset-normalizer==2.0.12
coverage==6.3.2
dill==0.3.4
distlib==0.3.4
filelock==3.6.0
gitdb==4.0.9
GitPython==3.1.27
identify==2.5.0
idna==3.3
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
mysql-connector-python==8.0.29
nodeenv==1.6.0
packaging==21.3
pbr==5.9.0
Pillow==9.1.0
platformdirs==2.5.2
pluggy==1.0.0
pre-commit==2.19.0
protobuf==3.20.1
py==1.11.0
pylint==2.13.8
pyotp==2.6.0
pyparsing==3.0.8
pytest==7.1.2
pytest-cov==3.0.0
PyYAML==6.0
qrcode==7.3.1
requests==2.27.1
six==1.16.0
smmap==5.0.0
stevedore==3.5.0
toml==0.10.2
tomli==2.0.1
tox==3.25.0
typing_extensions==4.2.0
urllib3==1.26.9
virtualenv==20.14.1
wrapt==1.14.1
